*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    --rose1: #e18ad4;
    --rose2: #EEB1D5;
    --rose3: #EFC7E5;
    --green: #E0EFDA;

    --blueQuen: #33658A;
    --blueSky: #86BBD8;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

body{
    font-size: 16px;
    font-family: 'Roboto Serif', serif;
}

main{
    width: 100%;
    min-height: 100vh;
}
