footer{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
}

h3{
    font-size: 0.90rem;
    padding-bottom: 2px;
}

p{
    font-size: 0.76rem;
}

@media screen and (max-width: 550px){
    h3{
        font-size: 0.70rem;
    }

    p{
        font-size: 0.62rem;
    }
}